

[Testcases]
# Path of testcases relative to runpath
# Separate multiple paths by ":"
path = /usr/lib/igord/testcases/


[Session]
# Path to store the sessions in
path = /srv/igord/


[Cobbler]
# The URL of Cobblers API
url = http://cobbler.example.com/cobbler_api
username = cobbler
password = cobbler

# Kernel arguments to be used for installation/pxe and default boot
kargs = local_boot_trigger=igord.example.com:8080/testjob/${igor_cookie}
kargs_install = BOOTIF=eth0 storage_init firstboot


[Cobbler.ISO_Injection]
# Fetches jenkins builds and injects them into cobbler
enable = False
remote_cobbler_ssh_uri  = cobbler.example.com
# Override Cobbler/kargs, sometimes needed because kargs is limited to 255chars
remote_cobbler_kopts = rootflags=loop rootflags=ro ro liveimg install rootfstype=auto root=live:/{isoname} check


[libvirtd]
connection_uri = qemu://libvirt.example.com/system

[libvirtd.virt-install]
storage_pool = default
# As described in man virt-install
network_configuration  = network=default

