#
# This is the igord configuration file
#
# In some places references [0] are used, they look like
# foo: &marker
# bar: *marker (ref to marker)
# This is used to provide alternative configurations in some places.
# [0] http://en.wikipedia.org/wiki/YAML#References
#

daemon:
    # Example for libvirt only (dev-workstation setup)
    backends-for-libvirt-only: &backends-for-libvirt-only
        testsuites:
            - igor.daemon.backends.files
        testplans:
            - igor.daemon.backends.files
        profiles:
            - igor.daemon.backends.libvirt
            - igor.daemon.backends.files
        hosts:
            - igor.daemon.backends.libvirt

    # Example for testing with bare metal hosts
    backends-for-bare-metal-and-cobbler: &backends-for-bare-metal-and-cobbler
        testsuites:
            - igor.daemon.backends.files
        testplans:
            - igor.daemon.backends.files
        profiles:
            - igor.daemon.backends.files
            - igor.daemon.backends.cobbler
            - igor.daemon.backends.libvirt
        hosts:
            - igor.daemon.backends.cobbler
            - igor.daemon.backends.libvirt

    database-for-result-sqlite: &py-sqlite
        conn_url: 'sqlite:///{path_to_database.sqlite}'

    database-for-result-postgresql: &py-postgresql
        conn_url: 'postgresql://{user}:{pass}@localhost/'

    # Default: Use libvirt-only backend configuration
    enable-backends: *backends-for-libvirt-only
    enable-database: *py-sqlite

    hooks:
        # Hooks are scripts which are called on a variety of events.
        # The scripts must be executable and reside in the path below.
        # The script is called with two params:
        # hook-name: The name of the hook
        # sessionid: The id referenceing the job where the event happened
        # Example:
        # <script> pre-job HF765n8
        path: /etc/igord/hook.d/

    session:
        # Path to store the sessions in
        path: /var/run/igord/


igor.daemon.backends.files:
    testcases:
        # Path of testcases relative to runpath
        paths:
            - /home/homer/dev/ovirt/tests/igor/suites/

    testplans:
        # Path of testplans relative to runpath
        paths:
            - /home/homer/dev/ovirt/tests/igor/plans/

    hosts:
        # Path to .hosts files
        # Separate multiple paths by ":"
        paths:
            - data

igor.daemon.backends.cobbler:
    # The URL of Cobblers API
    url: http://cobbler.example.com/cobbler_api
    username: testing
    password: testing

    # SSH URI (passwordless authentication) to import profiles
    ssh_uri: root@cobbler.example.com

    remote_path_prefix: /var/cache/igord

    hosts:
        # This expression needs to be in the hostname, so igor manages it
        identification_expression: igor-

        # Or the hostname needs to be in the whitelist
        whitelist: my.cobbler.whitelist


igor.daemon.backends.libvirt:
    connection_uri: qemu:///system
    # connection_uri: qemu://libvirt.example.com/system

    virt-install:
        storage_pool: default
        # As described in man virt-install
        network_configuration: network=default
