[Unit]
Description=Igor event publisher
Requires=igord.service

[Service]
ExecStart=/usr/libexec/igord-event-publisher

[Install]
WantedBy=default.target
