

[Testcases]
# Path of testcases relative to runpath
# Separate multiple paths by ":"
path = /usr/lib/igord/testcases/


[Hosts]
# Path to .hosts files
# Separate multiple paths by ":"
path = /etc/igor.d/


[Session]
# Path to store the sessions in
path = /srv/igord/


[Cobbler]
# The URL of Cobblers API
url = http://cobbler.example.com/cobbler_api
username = cobbler
password = cobbler

# Needed to create profiles
ssh_uri  = cobbler.example.com


[libvirtd]
connection_uri = qemu://libvirt.example.com/system


[libvirtd.virt-install]
storage_pool = default
# As described in man virt-install
network_configuration  = network=default

