
/* vim: set sw=2: */

body
{
  margin: 0;
  padding: 0;
  font-family: "Basic", sans-serif;
}

div#header
{
  position: fixed;
  width: 100%;
  background-color: #2C2C2C;
  background-image: -moz-linear-gradient(center top , #444, #222);
}

div#content
{
  padding: 1em;
  padding-top: 6em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  padding: .5em 2.5em;
  margin: 0;
  background-image: url(/ui/favicon.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: .5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px 3px black;
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
  z-index: 42;
  position: relative;
}

a
{
  color: rgba(0, 136, 204, 1);
  text-decoration: none;
}

ul#toc
{
  margin: 0;
  padding: 0;
  height: 2em;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
}

#toc li
{
  list-style: none;
  float: left;
  padding: .2em .5em;
  margin: 0;
}

#toc li:first-child
{
  padding-left: 0;
}

table
{
  border: 1px solid lightgray;
  font-size: 0.9em;
  border-spacing: 0;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  table-layout: fixed;
}

table table
{
  background-color: white;
}

td table td
{
  padding-right: 0;
}

thead
{
  background: gray;
  color: white;
}

thead th
{
  font-weight: lighter;
  text-align: left;
}

tbody th
{
  color: gray;
  font-weight: normal;
  text-align: left;
}

tfoot td
{
  font-size: .7em;
}

tr:nth-child(odd)
{
  background-color: rgba(0, 0, 0, 0.0);
}

th,
td
{
  padding: .2em .4em;
  overflow: hidden;
/*  white-space: nowrap;*/
  text-overflow: ellipsis;
}

tr td,
tr th,
tr td[rowspan]:last-child
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tr td[rowspan]
{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

tbody tr:hover
{
  background-color: rgba(0, 136, 204, 0.2);
  border: 0;
}

.description
{
  color: gray;
  font-size: 0.8em;
}

.loading,
div[on-request]
{
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3em;
  text-align: center;
  font-size: .7em;
}

div[on-request]
{
  cursor: pointer;
}

.small-margin
{
  margin: 6px 3px;
}

.loading
{
/* https://developer.mozilla.org/en/CSS/CSS_animations*/
  -moz-animation-duration: 1s;
  -moz-animation-name: pulsate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

@-moz-keyframes pulsate
{
  from {
   opacity: 0.2;
  }

  to {
   opacity: 0.4;
  }
}

.reload
{
  font-size: 0.8em;
  padding: 4px;
  float: right;
  position: relative;
  left: 80px;
}
.reload:hover
{
/*  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-image: -moz-linear-gradient(center top , #fff, #eee);*/
}

span.aborted,
span.passed,
span.failed,
span.running,
span.open,
span.preparing,
span.timedout
{
  color: white;
  padding: .1em .5em;
  border-radius: .2em;
}

span.aborted
{
  background-color: #aaa;
}

span.passed
{
  background-color: #ac0;
}

span.failed,
span.timedout
{
  background-color: #f40;
}

span.running,
span.open,
span.preparing
{
  background-color: #fa0;
  color: black;
  -moz-animation-duration: 1s;
  -moz-animation-name: pulsate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

div#footer
{
  text-align: right;
  padding: 1em;
  margin-top: 2em;
  font-size: 1em;
}

.expand-on-request
{
  height: 2em;
  overflow: hidden;
}

.expand-on-request:hover
{
  height: auto;
}

.expand-on-request ul
{
  margin: 0;
  padding-left: 15px;
}

.progressbar
{
  display: inline-block;
  border: 1px solid gray;
  padding: 0;
  border-radius: .5em;
  vertical-align: center;
  margin: 0 1em;
}
.progressbar > span
{
  height: .5em;
  display: block;
  background-color: gray;
  border-radius: 0;
}

.action
{
  border-radius: 3px;
  background: #3a3;
  color: white;
  padding: .3em .6em;
  font-size: 80%;
  font-family: sans-serif;
}
.action:hover
{
  background: #5c5;
}
