
# Path of testcases relative to runpath
TESTCASES_PATH          = "../testcases"

# Path to store the sessions in
SESSION_PATH            = "/tmp"

# The URL of Cobblers API
COBBLER_URL             = "http://127.0.0.1/cobbler_api"
COBBLER_CREDENTIALS     = ("cobbler", "cobbler")

# Kernel arguments to be used for installation/pxe and default boot
COBBLER_KARGS_INSTALL   = "BOOTIF=eth0 storage_init firstboot"
COBBLER_KARGS           = "local_boot_trigger=192.168.122.1:8080/testjob/${igor_cookie}"
#COBBLER_KARGS           += " adminpw=%s" % run("openssl passwd -salt OMG 123123")

LIBVIRT_CONNECTION_URI  = "qemu:///system"

# If a remote libvirt is used, the path might be different, use the following to translate:
#LIBVIRT_VOLUME_PATH_PREFIX  = "/var/lib/libvirt/images/"
#LIBVIRT_TRANSLATE_DEFINITION_PATH_CB   = lambda p: re.sub("^" + SESSION_PATH, LIBVIRT_VOLUME_PATH_PREFIX, p)
# ... or a dummy:
#LIBVIRT_TRANSLATE_DEFINITION_PATH_CB = lambda p: p
# ... or none:
LIBVIRT_TRANSLATE_DEFINITION_PATH_CB = None
